/* You can add global styles to this file, and also import other style files */

body {
  margin-top: 15px;
  margin-bottom: 10px;

  background-color: lightgrey !important;
}

.container{
  width:80%;
  margin: 0;
}

.input-group {
  margin-bottom: 15px;
}
